# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'supervisor/defaults.yaml' as defaults %}
{% import_yaml 'supervisor/osmap.yaml' as osmap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.cas.update(osfam) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('supervisor:lookup',
                                   default=defaults.supervisor,
                                   merge=True) %}

{# merge the actual supervisor pillar into the above combined dict #}
{% set supervisor = salt['pillar.get']('supervisor', default=lookup, merge=True) %}
